.build/
.swiftpm/
dist/
dist*.noindex/
*.noindex/
*.app/
*.xcarchive/
*.dSYM/
*.zip
*.pkg
*.ipa
*.icns
xcuserdata/
DerivedData/
.metadata_never_index
.env
.env.*
*.p12
*.cer
*.mobileprovision
*.provisionprofile
*.key
*.pem
.DS_Store
Package.resolved
